includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src
        - tests

    level: 8

    universalObjectCratesClasses:
        - Illuminate\Routing\Route

    ignoreErrors:
        -
            message: '#has no return type specified#'
            paths:
                - tests/*
                - src/GlossTranslator.php
        -
            message: '#Cannot call method (.*?) on Lean\\Gloss\\GlossTranslator\|#'
            paths:
                - tests/*
        -
            message: '#with no type specified#'
            paths:
                - src/GlossTranslator.php
        -
            message: '#of function str_replace expects#'
            paths:
                - src/GlossTranslator.php

    checkMissingIterableValueType: false
